In [9]:
import pandas as pd
import requests
import sqlite3

url_json = "https://jsonplaceholder.typicode.com/todos"
json = requests.get(url_json).json()
dfJson = pd.DataFrame(json)
print(dfJson.head())
dfJson.to_json('todosJson_records.json', orient='records')
dfJson.to_json('todosJson_index.json', orient='index')


conn = sqlite3.connect('todo_db.db')
dfJson.to_sql('todos', conn, if_exists='replace', index=False)
query = "SELECT * from todos"
dfJson_db = pd.read_sql_query(query, conn)
conn.close()
dfJson_db

   userId  id                                              title  completed
0       1   1                                 delectus aut autem      False
1       1   2                 quis ut nam facilis et officia qui      False
2       1   3                                fugiat veniam minus      False
3       1   4                                   et porro tempora       True
4       1   5  laboriosam mollitia et enim quasi adipisci qui...      False

     userId   id                                              title  completed
0         1    1                                 delectus aut autem          0
1         1    2                 quis ut nam facilis et officia qui          0
2         1    3                                fugiat veniam minus          0
3         1    4                                   et porro tempora          1
4         1    5  laboriosam mollitia et enim quasi adipisci qui...          0
..      ...  ...                                                ...        ...
195      10  196                consequuntur aut ut fugit similique          1
196      10  197                  dignissimos quo nobis earum saepe          1
197      10  198                       quis eius est sint explicabo          1
198      10  199                       numquam repellendus a magnam          1
199      10  200                       ipsam aperiam voluptates qui          0

[200 rows x 4 columns]